:root {
  --color-selected: #fe8e05;
  --color-bacground: #621402;
  --color-white-op: rgba(255, 255, 255, 0.5);
}
* {
  box-sizing: border-box;
}
body {
  background-color: var(--color-bacground);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #fff;
}
.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px 0 15px;
}
.navbar {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.header {
  min-height: 100vh;
  background: linear-gradient(
      180deg,
      rgba(98, 20, 2, 0.31) 0%,
      var(--color-bacground) 85.62%
    ),
    url("../img/bg.png") no-repeat center top / cover;
}
.avatar {
  max-width: 30px;
  border-radius: 50%;
  margin-left: 11px;
}
.menu {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  margin-left: 57px;
}
.menu-item {
  margin-right: 25px;
}
.menu-link,
a {
  text-decoration: none;
  color: #fff;
}
.user {
  color: #fff;
  margin-left: auto;
  display: flex;
  align-items: center;
}
.film {
  color: #fff;
  margin-top: 60px;
  display: flex;
  align-items: center;
}
.film-title-small {
  opacity: 0.5;
  font-size: 24px;
  line-height: 150%;
}
.film-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  margin-top: 11px;
  margin-bottom: 23px;
}
.film-description {
  line-height: 150%;
  max-width: 560px;
}
.film-trailer {
  margin: auto;
}
.film-details {
  display: flex;
  margin-top: 50px;
}
.time {
  display: flex;
  align-items: center;
}
.time-icon {
  margin-right: 14px;
}
.time-value {
  line-height: 150%;
}
.rating {
  display: flex;
  align-items: center;
  margin-left: 34px;
}
.rating-value {
  margin-left: 12px;
  line-height: 150%;
}
.rating-bold {
  font-size: 24px;
  line-height: 150%;
}
.session {
  margin-top: 62px;
  padding-top: 46px;
  padding-bottom: 63px;
  border-top: 1px solid var(--color-white-op);
  border-bottom: 1px solid var(--color-white-op);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.session-date-block {
  display: flex;
}
.session-date-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 90px;
  height: 90px;
  border: 1px solid var(--color-white-op);
  border-radius: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  transition: background-color 0.2s;
}
.session-label {
  display: block;
  margin-bottom: 20px;
}
.session-cinema {
  align-items: center;
}
.session-day {
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
}
.session-month {
  line-height: 19px;
}
.session-week {
  font-size: 19px;
  line-height: 22px;
}
.session-date-item:hover {
  background: var(--color-selected);
  color: var(--color-bacground);
}
.selector {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid var(--color-white-op);
  border-radius: 5px;
  color: #fff;
  padding: 18px;
  cursor: pointer;
  margin-top: 13px;
}

.cinema-selector {
  max-width: 470px;
  min-height: 60px;
}
.time-selector {
  max-width: 108px;
  min-height: 60px;
}
.scheme {
  background: rgba(36, 36, 36, 0.18);
  border-radius: 10px;
  margin-bottom: 40px;
  margin-top: 63px;
}
.scheme path:not(.screen) {
  fill: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.scheme path:not(.screen):hover {
  fill: var(--color-white-op);
}
.scheme path.booked,
.scheme path.booked:hover {
  fill: rgba(255, 255, 255, 0.05);
  cursor: not-allowed;
}

.scheme path.legend-avaluable,
.scheme path.legend-avaluable:hover {
  fill: rgba(255, 255, 255, 0.2);
  cursor: default;
}

.scheme path.legend-occupied,
.scheme path.legend-occupied:hover {
  cursor: default;
}

.scheme path.legend-chosen,
.scheme path.legend-chosen:hover {
  cursor: default;
}
.scheme path.active,
.scheme path.active:hover {
  fill: var(--color-selected);
}

.legend-chosen {
  color: var(--color-selected);
}

.legend {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 35px;
  border-top: 1px solid var(--color-white-op);
  min-width: 1024px;
  margin: auto;
}
.legend-label {
  display: flex;
  align-items: center;
  margin-right: 30px;
  color: var(--color-white-op);
}
.legend svg {
  margin-right: 15px;
}
.price {
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price-label {
  display: block;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 12px;
}
.price-total,
.ruble {
  font-size: 52px;
  line-height: 61px;
}
.ruble {
  margin-left: 10px;
}
.button {
  padding: 24px 52px;
  font-size: 18px;
  line-height: 21px;
  width: 254px;
  height: 69px;
  border-radius: 5px;
  background: var(--color-selected);
}
