:root {
  --color-selected: #fe8e05;
  --color-bacground: #621402;
  --color-white-op: rgba(255, 255, 255, 0.5);
}
* {
  box-sizing: border-box;
}
body {
  background-color: var(--color-bacground);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #fff;
}
.container {
  max-width: 1170px;
  margin: auto;
  width: 90%;
  /* padding: 0 15px 0 15px; */
}
.navbar {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
nav {
  position: relative;
}
.header {
  /* padding-bottom: 60px; */
  background: linear-gradient(
      180deg,
      rgba(98, 20, 2, 0.31) 0%,
      var(--color-bacground) 85.62%
    ),
    url("../img/bg.png") no-repeat center top / cover;
}
.avatar {
  max-width: 30px;
  border-radius: 50%;
  margin-left: 11px;
}

.menu {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  margin-left: 57px;
}
.menu-item {
  margin-right: 25px;
}
.menu-link,
a {
  text-decoration: none;
  color: #fff;
}
.user {
  color: #fff;
  margin-left: auto;
  display: flex;
  align-items: center;
}
.film {
  color: #fff;
  margin-top: 60px;
  display: flex;
  align-items: center;
}
.film-title-small {
  opacity: 0.5;
  font-size: 24px;
  line-height: 150%;
}
.film-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  margin-top: 11px;
  margin-bottom: 23px;
}
.film-description {
  line-height: 150%;
  max-width: 560px;
}
.film-trailer {
  margin: auto;
}
.film-trailer svg:hover {
  border-radius: 50%;
  transform: scale(1.2);
  box-shadow: 0px 0px 60px var(--color-selected);
}

.film-details {
  display: flex;
  margin-top: 50px;
}
.time {
  display: flex;
  align-items: center;
}
.time-icon {
  margin-right: 14px;
}
.time-value {
  line-height: 150%;
}
.rating {
  display: flex;
  align-items: center;
  margin-left: 34px;
}
.rating-value {
  margin-left: 12px;
  line-height: 150%;
}
.rating-bold {
  font-size: 24px;
  line-height: 150%;
}
.session {
  margin-top: 62px;
  padding-top: 46px;
  padding-bottom: 63px;
  border-top: 1px solid var(--color-white-op);
  border-bottom: 1px solid var(--color-white-op);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.session-date-block {
  display: flex;
}
.session-date-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 90px;
  height: 90px;
  border: 1px solid var(--color-white-op);
  border-radius: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  transition: background-color 0.2s;
}
.session-label {
  display: block;
  margin-bottom: 20px;
}
.session-cinema {
  align-items: center;
}
.session-day {
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
}
.session-month {
  line-height: 19px;
}
.session-week {
  font-size: 19px;
  line-height: 22px;
}

.session-date-item:hover {
  background: var(--color-selected);
  color: var(--color-bacground);
}
.selector {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid var(--color-white-op);
  border-radius: 5px;
  color: #fff;
  padding: 18px;
  cursor: pointer;
  margin-top: 13px;
}

.cinema-selector {
  width: 470px;
  max-height: 60px;
}
.time-selector {
  max-width: 108px;
  max-height: 60px;
}
option {
  background-color: var(--color-bacground);
}
option::selection {
  color: var(--color-bacground);
  background-color: var(--color-selected);
}
.scheme {
  background: rgba(36, 36, 36, 0.18);
  border-radius: 10px;
  margin-bottom: 40px;
  margin-top: 63px;
}
.scheme-svg {
  max-width: 1170px;
}

.scheme path:not(.screen) {
  fill: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.scheme path:not(.screen):hover {
  fill: var(--color-white-op);
}
.scheme path.booked,
.scheme path.booked:hover {
  fill: rgba(255, 255, 255, 0.05);
  cursor: not-allowed;
}

.scheme path.legend-avaluable,
.scheme path.legend-avaluable:hover {
  fill: rgba(255, 255, 255, 0.2);
  cursor: default;
}

.scheme path.legend-occupied,
.scheme path.legend-occupied:hover {
  cursor: default;
}

.scheme path.legend-chosen,
.scheme path.legend-chosen:hover {
  cursor: default;
}
.scheme path.active,
.scheme path.active:hover {
  fill: var(--color-selected);
}

.legend-chosen {
  color: var(--color-selected);
}

.legend {
  display: flex;
  align-items: center;
  padding: 20px 0 35px 0;
  border-top: 1px solid var(--color-white-op);
  max-width: 1024px;
  width: 90%;
  margin: auto;
}
.legend-label {
  display: flex;
  align-items: center;
  margin-right: 30px;
  color: var(--color-white-op);
}
.legend svg {
  margin-right: 15px;
}
.price {
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price-label {
  display: block;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 12px;
}
.price-total,
.ruble {
  font-size: 52px;
  line-height: 61px;
}
.ruble {
  margin-left: 10px;
}
.button {
  padding: 24px 52px;
  font-size: 18px;
  line-height: 21px;
  width: 254px;
  height: 69px;
  border-radius: 5px;
  background: var(--color-selected);
}

.mobile-menu {
  display: none;
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .cinema-selector {
    width: 100%;
  }
}
@media (max-width: 995px) {
  .container {
    max-width: 750px;
  }
  .session {
    flex-wrap: wrap;
  }
  .session-date {
    flex-basis: 70%;
    margin-bottom: 30px;
  }
  .session-time {
    order: 2;
  }
  .session-cinema {
    order: 3;
  }
  .cinema-selector,
  .time-selector {
    margin: 0;
  }
  .menu-item {
    margin-right: 20px;
  }
}
@media (max-width: 840px) {
  .container {
    max-width: 560px;
  }
  .menu {
    position: absolute;
    left: 0;
    top: 40px;
    padding: 5px 0px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bacground);
    z-index: 99;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-20%);
    transition: opacity 0.5s, transform 0.5s;
    /* display: none; */
  }
  .menu-item:not(:last-child) {
    border-bottom: 1px solid var(--color-white-op);
  }
  .menu-item {
    padding: 15px;
    margin: 0;
  }
  .menu-link {
    padding: 0 10px;
  }
  .mobile-menu {
    display: block;
    background-color: transparent;
    bottom: none;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    cursor: pointer;
    border: none;
  }
  .is-open {
    /* display: block !important; */
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    transition: opacity 0.5s, transform 0.5s;
  }
  .session-time {
    margin-bottom: 20px;
  }
  .film-description {
    margin-right: 30px;
  }
  .film {
    flex-direction: column-reverse;
  }
  .film-trailer {
    margin: 0 auto 60px auto;
  }
  .scheme {
    overflow-x: scroll;
  }
  .scheme-svg {
    /* min-height: 300px; */
  }
}
@media (max-width: 520px) {
  .legend {
    flex-direction: column;
    align-items: flex-start;
  }
  .legend-label {
    padding-bottom: 10px;
  }
  .price {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .button-pay {
    margin-top: 20px;
  }
}
@media (max-width: 480px) {
  .session-date {
    width: 100%;
  }
  .session-date-block {
    /* transform: scale(0.8) translate(-50px, 0); */
  }
  .session-date-item {
  }
}
